<!DOCTYPE html>
<html>
  <head>
    <title>Django blog</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Django Blog</a></h1>
    </header>

    <article>
      <time>published: 12.11.2021, 16:50</time>
      <h2><a href="">My first post</a></h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur,
        velit.
      </p>
    </article>

    <article>
      <time>published: 12.11.2021, 16:50</time>
      <h2><a href="">My second post</a></h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim libero,
        ab et eius quibusdam aliquid laborum dolor pariatur optio neque.
      </p>
    </article>
  </body>
</html>
